.navbar {
	margin-bottom: 0;
}
body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-weight: bold;
	margin-bottom: 50;
	text-align: center;

}
h2{
	font-weight: bold;
	font-size: 28;
	margin-top: 50;
    margin-bottom: 25;
    margin-right: 150;
    margin-left: 80;
}
p1 {}
p {
    margin-right: 150;
    margin-left: 80;
}
.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #1F3A64;
}
a:link, a:visited {

    color: orchid;
}


